@media screen and (min-width:781px){
  /*画面幅が781px以上の時*/

html {
  font-size: 10px;
  font-family: 'YuGothic', sans-serif;
  color: rgb(36, 36, 37);
  background: linear-gradient(90deg, rgba(97,127,162,1) 10%, rgb(204, 161, 180) 150%);
}

body {
  max-width: 60%;
  margin: 5% auto;
  font-size: 1.5em;
}

header {
  position: relative;
  text-align: center;
  height: 4em;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

button img {
  display: block;
  width: 3em;
}

.left-button {
  position: absolute;
  left: 3em;
  top: 2em;
}

.right-button {
  position: absolute;
  right: 3em;
  top: 2em;
}

.title {
  font-size: 3em;
  font-weight: bold;
  display: inline;
  margin: 1em 0em;
}

table {
  width: 100%;
  margin: 5% auto;
  border-spacing: 0.5em;
}

td {
  border-radius: 5%;
  font-weight: bolder;
  cursor: pointer;
}

td:hover {
  background-color: darkkhaki;
}

.cellTotal {
  text-align: right;
  padding-right: 1em;
  line-height: 1em;
  padding-bottom: 0em;
}

input {
  appearance: none; /* 標準のスタイルを無効にする */
  width: 130px; /* ボックスの高さを指定する */
  padding: 10px 15px; /* ボックス内側の余白を指定する */
  border: none; /* 境界線をなしに指定する */
  border-radius: 5px; /* 角丸を指定する */
}

select {
  appearance: none; /* 標準のスタイルを無効にする */
  width: 150px; /* ボックスの高さを指定する */
  padding: 10px 15px; /* ボックス内側の余白を指定する */
  border: none; /* 境界線をなしに指定する */
  border-radius: 5px; /* 角丸を指定する */
  }

.expense-input {
  font-size: 1.3em;
  margin-bottom: .5em;
}

.expense-input:last-child {
  display: inline;
}

.expense-input:nth-last-child(2) {
  display: inline;
}

li {
  margin-bottom: .5em;
}

.input-button {
  display: inline;
  margin-left: 10px;
  background-color: rgba(205, 213, 223,1);
  cursor: pointer;
  width: 50px;
}

}